.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.success {
  background-color: #d4edda;
  padding: 10px;
  margin-bottom: 10px;
  color: #155724;
  border-radius: 5px;
}

.error {
  background-color: #f8d7da;
  padding: 10px;
  margin-bottom: 10px;
  color: #721c24;
  border-radius: 5px;
}

.add-btn {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  margin-bottom: 15px;
  border-radius: 5px;
}
.export-btn {
  display: inline-block;
  background-color: #0f7ff7;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-left: 660px;
}

.add-btn:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.edit-btn, .delete-btn {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  margin: 2px;
}

.edit-btn {
  background-color: #ffc107;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}
